*{
    body{
        margin:0;
        scroll-behavior: smooth;
    }  
    main{
        padding-left:15%;
        padding-right:15%;
        font-family: 'JetBrains Mono Regular';
        scroll-behavior: smooth;
    }
    ul{
        list-style-type: none;
        text-transform: none;
        display: flex; 
        justify-content: right;
        
    }
    li{
        padding-left:20px;
        
    }
    a{
        text-decoration: none;
        padding: 7px 10px;
    }
    section{
        margin: 100px 0;
    }
}
div#two_items{
  background-color: whitesmoke;
  margin-bottom:2rem;
  display: flex;
}
div#two_items>span{
  width:10%;
  height:50%;
  font-size:3rem;
  padding:0px;
  /* border:0; */
  align-self: center;
  margin-left: 20px;
  cursor: pointer;
  
}
h1{
    margin-top:0;
    padding:20px;
    text-align: center;
    width:100%;
    height:100%;
    font-size:2.2rem;
    color:black;
    margin-bottom:0;
}
/* a::before{
    content: "";
    position: absolute;
    width:100%;
    height:100%;
    border:1px solid black;
    opacity: 0;
    transition: opacity .5s ease-in-out;
}
a:hover::after{
    opacity: 1;
} */
a{
  color:black;
  cursor:pointer;
  position:relative;
  padding:10px 20px;
  background: white;
  font-size:28px;
  transition:all 1s;
  border-radius:10px;
}
a::before{
  content: "";
  position: absolute;
  top:0;
  left:0;
  width:0;
  height:100%;
  background-color: black;
  transition: width .3s ease;
  
  z-index:-1;
}
a:hover{color: palegoldenrod;
background-color: black;}
a:hover::before{
  width:100%;
}