/* ========== Reset ========== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:monospace;
}
/* ========== Variables ========== */
:root{
    --padding-size: 2rem;
    --padding-span:1em;
    --margin-size:2em;
    --color-white:#f9f9f9;
    --background: rgb(113, 129, 146);
    --line-height: 2rem;
}
/* ========== Body & class ========== */
.text-center{
    text-align: center;
}
.mb-2{
    margin-bottom: var(--margin-size);
}
.pt{
    padding-top:var(--padding-size);
}
.pbt{
    padding-bottom: var(--padding-size);
}
.pl{
    padding-left: var(--padding-size);
}
body {
  font-family: 'Segoe UI', sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: var(--color-white);
}
/* ========== Header & Nav ========== */
header{
}
nav{
  color:white;
}
nav li{
    display: inline;
}
nav a{
    list-style-type:lower-greek;
    text-decoration:wavy;
}
nav span{
    background-color: var(--background);
    color:var(--color-white);
    font-size: medium;
    padding: var(--padding-span);
}
/* ========== Sections ========== */
section{
  line-height: var(--line-height);
}
/* ========== Footer ========== */
footer{
    background-color: var(--background);
    color:var(--color-white);
    
}

/* ========== Reponsive ========== */
@media (max-width: 768px) {
    body{
        font-size:small;
    }
    nav span{
        font-size: smaller;
    }
}
