*{
    body{
        padding-left:15%;
        padding-right:15%;
        font-family: 'JetBrains Mono Regular';
    }
    ul{
        list-style-type: none;
        text-transform: none;
        display: flex; 
        justify-content: right
    }
    li{
        padding-left:20px;
    }
    a{
        text-decoration: none;
        background-color: rgb(252, 159, 97);
        color:white;
        padding: 7px 10px;
    }
}
h1{
    text-align: center;
}