div#imgQuangCao{
    height:200px;
    width:100%;
    background-image: url('../../../images/tuyenDung.png');
    background-size: cover;
}
div#nhaTuyenDung {
    height: 100vh;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin-bottom:100px;
}
main#nhaTuyenDung div#kc{
    height:500px;width:100%;
}
main#nhaTuyenDung div#dichVu ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 0;
    margin: auto;
    list-style: none;
    flex-wrap: wrap;
}

main#nhaTuyenDung div#dichVu li {
    width: 32%;
    border: 1px solid silver;
    border-radius: 5px;
    padding: 1%;
    margin: 0.5%;
    box-sizing: border-box;
    position: relative;
    cursor: pointer;
}

main#nhaTuyenDung div#dichVu li > img {
    width: 50%;
    display: flex;
    margin: auto;
}

main#nhaTuyenDung .main-text {
    font-size: 16px;
    font-weight: bold;
    color: dodgerblue;
}

main#nhaTuyenDung .sub-text {
    font-size: 16px;
    font-weight: normal;
    color: grey;
}

main#nhaTuyenDung form#formTuyenDung {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
}

main#nhaTuyenDung form#formTuyenDung > input {
    width: 80%;
    height: 15%;
    margin: 10px;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid grey;
    transition: all 0.3s ease;
}

main#nhaTuyenDung form#formTuyenDung > input:hover {
    border: 1px solid dodgerblue;
    transform: translateY(-2px);
}

main#nhaTuyenDung form#formTuyenDung > input:focus {
    transform: translateY(-2px);
}

main#nhaTuyenDung form#formTuyenDung > button {
    background-color: dodgerblue;
    color: white;
    border-radius: 10px;
    margin: 10px;
    font-size: 16px;
    padding: 10px;
    width: 80%;
    border: none;
    transition: all 0.3s ease;
}

main#nhaTuyenDung form#formTuyenDung > button:hover {
    background-color: #1a4a7b;
}

main#nhaTuyenDung form#formTuyenDung > a {
    text-decoration: none;
    color: dodgerblue;
    margin: 10px;
    transition: all 0.3s ease;
    font-size: 16px;
}

main#nhaTuyenDung form#formTuyenDung > a:hover {
    text-decoration: underline;
    color: #1a4a7b;
}

main#nhaTuyenDung div#tao {
    flex: 1;
    padding: 20px;
    /* Add some padding for better appearance */
}

main#nhaTuyenDung div#chucNangTao {
    height: 70px;
    position: relative;
    width: 150px;
    margin-bottom: 20px;
    display: flex;
    /* Add space between elements */
}

main#nhaTuyenDung button:first-child {
    border: none;
    width: 100%;
    height: 100%;
    cursor: pointer;
    position: absolute;
    border-radius: 16px;
    align-self: center;
    margin-bottom: 20px;
    transition: all .3s;
}
main#nhaTuyenDung button:hover{
    background-color: #739fcc;
}

main#nhaTuyenDung button:last-child {
    margin-top: 40px;
    border:none;
    padding: 20px;
    font-size: 20px;
    cursor: pointer;
    background-color: dodgerblue;
    color:white;
    transition: all .3s;
    border-radius: 10px;
}

main#nhaTuyenDung button:last-child:hover{
    background-color: #1a4a7b;
}
main#nhaTuyenDung div#baiViet {
    width: 100%;
    padding: 10px;
    /* display: none; */
    /* border:1px solid black; */
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    box-sizing: border-box;
    position: relative;
}
main#nhaTuyenDung div#baiViet>div{
    width:40%;
}
main#nhaTuyenDung div#baiViet p {
    font-size: 18px;
}

main#nhaTuyenDung div#baiViet input {
    font-size: 18px;
    height:33px;
    width: 60%;
    /* Make input fields full width */
    margin-bottom: 10px;
    /* Space between input fields */
}

main#nhaTuyenDung div#hien {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right:0;
    top:0;
}

main#nhaTuyenDung div#hien>div#hienThi {
    width: 80%;
    height: 80%;
    /* border: 1px solid black; */
    border-radius: 24px;
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    /* background: linear-gradient(120deg, black, white); */
    display: none;
}

main#nhaTuyenDung div#hien>div#hienThi>div#hienThiTrong {
    width: 95%;
    height: 95%;
    border: 5px solid black;
    background-color: white;
    border-radius: 16px;
    text-align: start;
    padding: 10px;
    
}

main#nhaTuyenDung #dropZone {
    width: 32%;
    height: 200px;
    border: 2px dashed #ccc;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #999;
    margin-top:25px;
}

main#nhaTuyenDung #dropZone:hover {
    border-color: dodgerblue;
    color: dodgerblue;
}

main#nhaTuyenDung #imagePreview {
    margin-top: 20px;
    text-align: center;
    max-width: 100%;
    height: 300px;
}

main#nhaTuyenDung #imagePreview img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}
main#nhaTuyenDung div#hienThiTrong h2{
    text-align: start;
}

main#nhaTuyenDung div#baiViet > input, textarea {
    border-radius: 10px;
    border: 1px solid grey;
    width: 32%;
    padding: 5px;
    font-size: 16px;
}

main#nhaTuyenDung div#baiViet > input:hover, textarea:hover {
    border: 1px solid dodgerblue;
}

main#nhaTuyenDung div#baiViet > input:focus, textarea:focus {
    outline: 1px solid darkorange;
    border: 0;
}

main#nhaTuyenDung div#baiViet > textarea {
    height: 25%;
}