#container{
    /* width:90%; */
    /* margin:auto; */
    height:1000px;
    /* border: 2px solid black; */
    display: grid;
    grid-template-areas: 
        "header nav"
        "main-image main-text"
        "sidebar sidebar-info"
        "main-roadmap main-roadmap"
        "footer footer"
    ;
    grid-template-columns: repeat(2, fr);
    grid-template-rows: 15% 50% 25% 10% 5%;
    
    /* grid-gap: 50px; */
    /* grid-template-columns: repeat(2, 1fr); */
}